form
  margin: auto

.form-container
  width: 470px
  list-style: none
  margin: 0
  padding: 0

.name
  width: 100%

.workweek
  display: flex

  &__text
    display: flex
    font-size: 13px
    font-weight: var(--font-medium)
    color: var(--text-color-100)
    margin: 0 68px 0 0

  &__required
    color: #F24445

  &__days
    display: grid
    grid-template-columns: 130px 116px 100px
    list-style: none
    margin: 0
    padding: 0

.leave-quota
  margin-top: 30px
  display: flex
  align-items: center

  &__select
    margin-right: 10px
    width: 438px

.fiscal-start
  margin-top: 27px

.expiry-date
  margin-top: 14px
  display: flex
  align-items: center

.week-starts
  margin-top: 26px

.timezone
  margin-top: 27px
  display: flex

  &__select
    margin-right: 10px
    width: 438px

.default-location
  display: flex

.workweek, .add-users, .default-location, .leave-policy
  margin-top: 24px

.fiscal-start
  display: flex

  &__year
    width: 125px
    margin-right: 16px

  &__day
    width: 80px

.week-starts
  width: 145px

.add-users
  width: 470px

.leave-policy
  box-sizing: border-box
  padding: 8px 12px
  background-color: var(--main-color-10)
  border: 1px solid var(--main-color-40)
  border-radius: 6px

  &__text
    font-size: 12px
    font-weight: var(--font-regular)
    color: var(--text-color-100)
    margin: 0

  &__link
    color: var(--main-color-100)



