.modal
  position: fixed
  left: 50%
  transform: translate3d(-50%, 0, 0)
  background-color: #FFFFFF
  z-index: 101
  border-radius: 12px
  box-sizing: border-box

  &__header
    display: flex
    padding: 16px 24px
    box-sizing: border-box
    border-radius: 12px 12px 0 0
    background-color: var(--light-grey-70)

  &__content
    padding: 24px 40px 24px 42px


  &__buttons
    width: 100%
    padding: 0 40px 24px 0
    box-sizing: border-box
    display: flex
    justify-content: flex-end

.title
  margin: 0
  font-weight: var(--font-semi-bold)
  font-size: 18px
  color: var(--text-color-100)

.close
  cursor: pointer
  margin: 5px 0 0 auto

.darkening
  position: fixed
  top: 0
  right: 0
  width: 100vw
  height: 100vh
  background-color: rgba(36, 44, 72, 0.2)
  z-index: 100