.more
  box-sizing: border-box
  padding: 10px 16px
  border-radius: 6px
  box-shadow: var(--main-shadow)
  border: 0.7px solid var(--light-grey)
  position: absolute
  background-color: #FFFFFF
  top: 40px
  right: 10px

.actions
  list-style: none
  margin: 0
  padding: 0

  &__action
    cursor: pointer

    &--middle
      margin: 8px 0

.actions-text
  color: var(--text-color-80)
  font-size: 13px
  font-weight: var(--font-regular)
  margin-left: 8px