.settings
  width: 240px
  height: 100%
  position: relative
  background-color: var(--background-blue)
  border-right: 1px solid rgba(46, 91, 255, 0.1)
  box-sizing: border-box
  padding: 21px 0 0 24px

  &__item
    display: flex
    margin-top: 16px

  &__subitems
    display: flex
    flex-direction: column
    margin: 18px 0 0 32px

  &__text
    color: var(--text-color-100)
    font-size: 14px
    font-weight: var(--font-medium)
    margin-left: 12px

    &--active
      color: var(--main-color-100) !important

  h2
    color: var(--text-color-grey2)
    font-size: 16px
    font-weight: var(--font-semi-bold)
    margin: 0
    padding: 0

  .text
    color: var(--text-color-100)
    font-size: 13px
    margin-bottom: 15px

    &--active
      color: var(--main-color-100)

  .arrow
    display: flex
    justify-content: center
    align-items: center
    width: 24px
    height: 24px
    box-sizing: border-box
    border: 0.7px solid #DFE5F9
    border-radius: 50%
    background: #FFFFFF
    position: absolute
    top: 78px
    right: -12px
