.settings
  width: 240px
  height: 100%
  background-color: #F5F9FE
  border-right: 1px solid rgba(46, 91, 255, 0.1)
  box-sizing: border-box
  padding: 21px 0 0 24px

  &__item
    display: flex
    margin-top: 16px

  &__subitems
    display: flex
    flex-direction: column
    margin: 16px 0 0 20px

  p
    color: #AFB6C6
    font-size: 16px
    font-weight: 600
    margin: 0

  span
    font-size: 14px
    margin-left: 12px
    color: #1E212A

  .active-text
    color: #00A0EC

  .subitems-text
    font-size: 13px
    margin-bottom: 15px

    &:last-child
      color: #00A0EC

  .arrow
    display: flex
    justify-content: center
    align-items: center
    width: 24px
    height: 24px
    border: 0.7px solid #DFE5F9
    border-radius: 50%
    background: #FFFFFF
    position: absolute
    top: 78px
    left: 328px
